:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.subir-archivo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subir-archivo h2 {
  margin-bottom: 1rem;
}

.subir-archivo input[type="file"] {
  margin-bottom: 1rem;
}

.subir-archivo button {
  padding: 0.5rem;
  border: none;
  background-color: #4caf50;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.subir-archivo button:hover {
  background-color: #388e3c;
}

.subir-archivo p {
  margin-top: 1rem;
  font-weight: bold;
  color: #4caf50;
}